div{
    background-color:gray;
    height:90px;
    width:350px;
    margin-left:450px;
    p{
        text-align: center;
        padding-top:20px;
        padding-left:7px;
        color:white;
        font-weight: bold;
        font-size: 20px;
    }
}