.main-container {
  min-height: 100vh;
  padding: 20px;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;

}

.text-style{
  color:red;
  margin-top: 0px;
}

@media screen and (max-width: 550px) {
  .main-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1300px) {
  .align-left {
    margin-right:850px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1300px){
  .hide-on-sm-screen {
    display: none;
  }
}